.filter-bar{
    background-color: #AAA;
    height: 88px;
    width: 100%;
}

.website-header {
    line-height: 88px;
    font-size: 2.3em;
    color: black;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
}
