.admin-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.admin-content{
    grid-column: 2;
}

.admin-content input{
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.admin-content button{
    margin-left: 20px;
}

.admin-container table{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
}

.clickable-td{
    user-select: none;
    cursor: pointer;
    color: blue;
}
.clickable-td:hover{
    background-color: #AAA;
}

.date-in{
    width: 150px !important;
}

.admin-order-table{
    margin-top: 20px;
}

.admin-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px) contrast(60%);
    overflow: scroll;    
}
.admin-modal-content {
    margin: 15% auto; 
    padding: 20px;
    max-width: 90%; 
    width: 600px;
    background-color: #e8e3e5;
}
