.admin-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.admin-content{
    grid-column: 2;
}

.admin-order-table{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}