.checkout-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px) contrast(60%);
 }
.modal-content {
    background-color: #e8e3e5;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%; 
    width: 600px;
    color: black;
}
.modal-content input {
    border: 1px solid #555;
    border-radius: .2rem;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
}
.close-button {
    float: right;
}
.modal-content button {
    margin: 10px 0;
}